body{
  font-family: lato;
  font-weight: bold;
  background-color: #E8A87C;
  margin-top: 100px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

h2{
  margin: 40px;
}

button{
  color: white;
 margin-left: : 100px;
 background-color: #000;
 border-color: #dc3545;
 display: inline-block;
 font-weight: 400;
 text-align: center;
 vertical-align: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 line-height: 1.5;
 border-radius: 0.25rem;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

input[type="text"]{
  border-radius: 5px;
  width: 200px;
  height: 40px;
  text-align: center;
}

h1{
  align-self: center;
}

li{
  margin: 10px;
}
